<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Pros.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>01CCC5FC1ED3598100AD367C</key>
		<dict>
			<key>primary</key>
			<true />
		</dict>
		<key>01CCC6101ED3598100AD367C</key>
		<dict>
			<key>primary</key>
			<true />
		</dict>
		<key>01CCC61B1ED3598100AD367C</key>
		<dict>
			<key>primary</key>
			<true />
		</dict>
	</dict>
</dict>
</plist>
